{
  "extends": ["airbnb-base", "prettier"],
  "parserOptions": {
    "ecmaVersion": 9,
    "impliedStrict": true,
    "sourceType": "module"
  },
  "plugins": ["prettier"],
  "rules": {
    "block-scoped-var": "off",
    "camelcase": "off",
    "comma-dangle": ["error", "only-multiline"],
    "func-names": "off",
    "global-require": "off",
    "import/newline-after-import": "off",
    "import/no-dynamic-require": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true,
        "peerDependencies": true
      }
    ],
    "import/prefer-default-export": "off",
    "no-console": "off",
    "no-duplicate-case": "off",
    "no-fallthrough": "off",
    "no-nested-ternary": "off",
    "no-param-reassign": "off",
    "no-restricted-globals": "off",
    "no-restricted-syntax": "off",
    "no-unused-expressions": "off",
    "no-var": "off",
    "object-shorthand": "off",
    "react/destructuring-assignment": "off",
    "react/no-children-prop": "off",
    "react/prop-types": "off"
  }
}
